img{
    width:10%;
    height: 10%;

}

nav {
    background-color: rgb(187, 250, 202);
}

.jumbotron {
    background-color: #FABBC1;
}

.card-header {
    background-color: #FABBC1;
}

.table a {
    text-decoration: none;
    color: #71AD7F;
}

.btn-primary {
    background-color: #007bff;
}


a{
    padding : 2px;
}
