
@{
    ViewBag.Title = "Home";
}


        
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success mt-2">@TempData["message"]</div>
            }
        
        <div class="jumbotron mt-4 ">
            <h1 class="display-4">Food For Thought</h1>
            <h2 >Quick and easy recipes for students, by students.</h2>
            <p >Welcome to Food for Thought, a place where students can share their quick and easy recipes they use to stay fueled throughout the day with other students.</p>
        </div>
    
